<header class="pt-8 md:pt-16 space-y-4">
    <div class="leading-none mx-auto text-center">
        <h1 class="text-5xl lg:text-6xl uppercase font-bold text-red-500"><a href="/">Scott Zirkel</a></h1>
        <h2 class="font-subtitle uppercase text-2xl lg:text-3xl text-gray-800">Making stuff up since 1977</h2>
    </div>
    <nav class="text-center leading-tight mt-4 lg:mt-0 space-y-2">
        <div class="flex items-center justify-center lg:justify-center space-x-4">
            {{ nav:main_nav }}
            <a href="{{ url }}" class="{{ if index === 0 }}hover:-rotate-3 {{ elseif index === 1 }} hover:rotate-2 {{ elseif index === 2 }} hover:-rotate-4 {{ else }} hover:rotate-180 {{ /if }} {{ if is_current }} text-red-500 {{ else }} text-gray-900 transform hover:text-red-800 {{ /if }} font-subtitle uppercase text-2xl md:text-3xl lg:text-4xl">{{ title }}</a>
            {{ /nav:main_nav }}
        </div>
        <div class="flex items-center justify-center space-x-4">
            {{ nav:secondary_nav }}
            <a href="{{ url }}" class="relative block group font-subtitle text-red-500 text-2xl">
                <span class="relative z-10">{{ title }}</span>
                <span class="{{ if is_current }} bg-gray-500 {{ /if }} {{ if index === 0 }} -mx-1 {{ else }} mx-1 {{ /if }} absolute group-hover:bg-gray-500 w-full h-4 my-4 inset-0 z-0">&nbsp;</span>
            </a>
            {{ /nav:secondary_nav }}
        </div>
    </nav>
</header>
