<p>Hey gang, I'm Scott and this is my site (obviously). I'm an artist, a programmer, a writer, a designer, a father, a husband, a Jeeper, <a href="http://parttimeoverland.com" target="_blank" class="no-underline px-px text-orange-500 hover:text-white hover:bg-orange-500 inline-block">an overlander,</a> and probably other things I've forgotten.</p>

<p>I've got a few drawings, some writing, and other things scattered throughout the site and across various social media platforms. I do hope you find something you enjoy.</p>

<p>Here's a few of the tools and equipment I use, if you're interested.</p>

<p>Thanks, Scott</p>
