<header class="min-w-lg px-6 py-4 mx-auto space-y-4">
    <div class="leading-none mx-auto text-center">
        <h1 class="text-6xl font-title text-red-500"><a href="/">Scott Zirkel</a></h1>
        <h2 class="font-subtitle uppercase text-3xl tracking-wide text-gray-900">Making stuff up since 1977</h2>
    </div>
    <nav class="text-center leading-tight mt-4 lg:mt-0">
        <div class="flex items-center justify-center lg:justify-center space-x-4">
            <a href="" class="transform hover:-rotate-3 font-subtitle uppercase text-gray-900 text-4xl hover:text-red-800">Drawing</a>
            <a href="" class="transform hover:rotate-2 font-subtitle uppercase text-gray-900 text-4xl hover:text-red-800">Writing</a>
            <a href="" class="transform hover:-rotate-4 font-subtitle uppercase text-gray-900 text-4xl hover:text-red-800">Design</a>
            <a href="" class="transform hover:rotate-180 font-subtitle uppercase text-gray-900 text-4xl hover:text-red-800">Code</a>
        </div>
        <div class="flex items-center justify-center space-x-4">
            <a href="/uses" class="relative block group font-subtitle text-red-500 text-2xl">
                <span class="relative z-10">Uses</span>
                <span class="absolute group-hover:bg-gray-500 w-full h-4 my-4 -mx-1 inset-0 z-0">&nbsp;</span>
            </a>
            <a href="/been-there-done-that" class="relative block group font-subtitle text-red-500 text-2xl">
                <span class="relative z-10">Been There Done That</span>
                <span class="absolute group-hover:bg-gray-500 w-full h-4 my-4 mx-1 inset-0 z-0">&nbsp;</span>
            </a>
        </div>
    </nav>
</header>
