
@font-face {
  font-family: 'VTCFellbaumGroteskItalic-Thin';
  src: url('VTCFellbaumGroteskItalic-Thin.eot?#iefix') format('embedded-opentype'),  url('VTCFellbaumGroteskItalic-Thin.otf')  format('opentype'),
	     url('VTCFellbaumGroteskItalic-Thin.woff') format('woff'), url('VTCFellbaumGroteskItalic-Thin.ttf')  format('truetype'), url('VTCFellbaumGroteskItalic-Thin.svg#VTCFellbaumGroteskItalic-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
