@font-face {
	font-family: 'VTCFellbaumGrotesk-Roman';
	src: url('VTCFellbaumGrotesk-Roman.eot?#iefix') format('embedded-opentype'),
		url('VTCFellbaumGrotesk-Roman.otf') format('opentype'), url('VTCFellbaumGrotesk-Roman.woff') format('woff'),
		url('VTCFellbaumGrotesk-Roman.ttf') format('truetype'),
		url('VTCFellbaumGrotesk-Roman.svg#VTCFellbaumGrotesk-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}
