
@font-face {
  font-family: 'VTCFellbaumGroteskItalic-Roman';
  src: url('VTCFellbaumGroteskItalic-Roman.eot?#iefix') format('embedded-opentype'),  url('VTCFellbaumGroteskItalic-Roman.otf')  format('opentype'),
	     url('VTCFellbaumGroteskItalic-Roman.woff') format('woff'), url('VTCFellbaumGroteskItalic-Roman.ttf')  format('truetype'), url('VTCFellbaumGroteskItalic-Roman.svg#VTCFellbaumGroteskItalic-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
