
@font-face {
  font-family: 'VTCFellbaumGroteskItalic-Medium';
  src: url('VTCFellbaumGroteskItalic-Medium.eot?#iefix') format('embedded-opentype'),  url('VTCFellbaumGroteskItalic-Medium.otf')  format('opentype'),
	     url('VTCFellbaumGroteskItalic-Medium.woff') format('woff'), url('VTCFellbaumGroteskItalic-Medium.ttf')  format('truetype'), url('VTCFellbaumGroteskItalic-Medium.svg#VTCFellbaumGroteskItalic-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
