@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'free-lunch';
    src: local('../fonts/Free-Lunch/FreeLunch-Regular.woff2'),
    url('../fonts/Free-Lunch/FreeLunch-Regular.woff2') format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'wilco-loft-sans';
    src: url('../fonts/Wilco-Loft-Sans/WilcoLoftSans-Treble.woff2') format("woff2"),
    url('../fonts/Wilco-Loft-Sans/WilcoLoftSans-Treble.woff') format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal
}

/*@font-face {*/
/*    font-family: 'pt-sans';*/
/*    src: local('../fonts/PT-Sans/PTSans-Regular.woff2'),*/
/*    url('../fonts/PT-Sans/PTSans-Regular.woff2') format("woff2"),*/
/*    url('../fonts/PT-Sans/PTSans-Regular.ttf') format("truetype");*/
/*    font-display: swap;*/
/*    font-weight: 400;*/
/*    font-style: normal*/
/*}*/

/*@font-face {*/
/*    font-family: 'pt-sans';*/
/*    src: url('../fonts/PT-Sans/PTSans-Bold.woff2') format("woff2"),*/
/*    url('../fonts/PT-Sans/PTSans-Bold.ttf') format("truetype");*/
/*    font-display: swap;*/
/*    font-weight: 700;*/
/*    font-style: normal*/
/*}*/

/*@font-face {*/
/*    font-family: 'pt-mono';*/
/*    src: url('../fonts/PT-Mono/PTMono-Regular.woff2') format("woff2"),*/
/*    url('../fonts/PT-Mono/PTMono-Regular.ttf') format("truetype");*/
/*    font-display: swap;*/
/*    font-weight: 400;*/
/*    font-style: normal*/
/*}*/

:root {
    --font-free-lunch: 'free-lunch';
    --font-wilco-loft-sans: 'wilco-loft-sans';
    --font-pt-sans: '"PT Sans"';
    --font-pt-mono: 'PT Mono';
}

a {
    @apply transition-all;
}

/*Monitor*/
.monitor {
    text-shadow: 0.5px 0 0.5px green, -0.5px 0 0.5px #00ff00;
}

.screenScrollbars {
    scrollbar-color: green transparent;
    /* overflow: -moz-scrollbars-vertical; */
}

.scanlines {
    background: linear-gradient(white, black, white) 0 0 / 3px 3px, linear-gradient(white, black, white) 0 0 / 3px 3px,
    linear-gradient(white, black, white) 0 0 / 3px 3px, linear-gradient(white, black, white) 0 0 / 3px 3px;
}

.scanlines::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    mix-blend-mode: overlay;
    background: red;
    filter: saturate(0);
    opacity: 1;
    pointer-events: none;
}

.scanlines::before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: green;
    animation: flicker 4s infinite;
}

@keyframes flicker {
    0% {
        top: 0;
        bottom: 100%;
    }

    100% {
        top: 100%;
        bottom: 0;
    }
}

/*Articles*/
.article a {
    @apply text-red-500 hover:text-red-700;
}

.article h3 {
    font-weight: 700;
}

.article p {
    margin-bottom: 1rem;
}

.article p + hr {
    margin-top: 2rem;
}

.article > img + em {
    font-size: 1rem;
}

.article hr {
    margin-bottom: 2rem;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, transparent, hsl(53deg 4% 75%), transparent);
}

.article pre code {
    display: block;
    overflow-x: auto;
    padding: 1rem;
    background: radial-gradient(ellipse, #0c2f1a, #030e08);
    color: #a8ff60;
    font-size: 1rem;
    border-radius: 8px;
    border: 8px solid black;
    filter: blur(0.5px);
    margin: 2rem;
}

.article p code {
    background: #05160c;
    padding: 0.25rem;
    color: #a8ff60;
    font-size: 1rem;
    border-radius: 4px;
    filter: blur(0.5px);
}
