@font-face {
    font-family: 'Parkly';
    src: url('/fonts/Parkly/Parkly-Regular.woff') format('woff');
    src: url('/fonts/Parkly/Parkly-Regular.woff2') format('woff2');
    src: url('/fonts/Parkly/Parkly-Regular.ttf') format('truetype');
    src: url('/fonts/Parkly/Parkly-Regular.otf') format('opentype');
    font-display: optional;
}

@font-face {
    font-family: 'Vault-Alarm';
    src: url('/fonts/Vault-Alarm/VaultAlarm-Regular.woff') format('woff');
    src: url('/fonts/Vault-Alarm/VaultAlarm-Regular.woff2') format('woff2');
    src: url('/fonts/Vault-Alarm/VaultAlarm-Regular.ttf') format('truetype');
    src: url('/fonts/Vault-Alarm/VaultAlarm-Regular.otf') format('opentype');
    font-display: optional;
}

/*@font-face {*/
/*    font-family: 'VTCFellbaumGrotesk-Roman';*/
/*    src: url('/fonts/Fellbaum/Regular/03_Roman/VTCFellbaumGrotesk-Roman.eot?#iefix') format('embedded-opentype'),  url('/fonts/Fellbaum/Regular/03_Roman/VTCFellbaumGrotesk-Roman.otf')  format('opentype'),*/
/*    url('/fonts/Fellbaum/Regular/03_Roman/VTCFellbaumGrotesk-Roman.woff') format('woff'), url('/fonts/Fellbaum/Regular/03_Roman/VTCFellbaumGrotesk-Roman.ttf')  format('truetype'), url('/fonts/Fellbaum/Regular/03_Roman/VTCFellbaumGrotesk-Roman.svg#VTCFellbaumGrotesk-Roman') format('svg');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    font-display: fallback;*/
/*}*/

/*@font-face {*/
/*    font-family: 'VTCFellbaumGrotesk-Medium';*/
/*    src: url('/fonts/Fellbaum/Regular/04_Medium/VTCFellbaumGrotesk-Medium.eot?#iefix') format('embedded-opentype'),  url('/fonts/Fellbaum/Regular/04_Medium/VTCFellbaumGrotesk-Medium.otf')  format('opentype'),*/
/*    url('/fonts/Fellbaum/Regular/04_Medium/VTCFellbaumGrotesk-Medium.woff') format('woff'), url('/fonts/Fellbaum/Regular/04_Medium/VTCFellbaumGrotesk-Medium.ttf')  format('truetype'), url('/fonts/Fellbaum/Regular/04_Medium/VTCFellbaumGrotesk-Medium.svg#VTCFellbaumGrotesk-Medium') format('svg');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    font-display: fallback;*/
/*}*/
