.monitor {
  text-shadow: 0.5px 0 0.5px green, -0.5px 0 0.5px #00ff00;
}

.screenScrollbars {
  scrollbar-color: green transparent;
  /* overflow: -moz-scrollbars-vertical; */
}

.scanlines {
  background: linear-gradient(white, black, white) 0 0 / 3px 3px, linear-gradient(white, black, white) 0 0 / 3px 3px,
    linear-gradient(white, black, white) 0 0 / 3px 3px, linear-gradient(white, black, white) 0 0 / 3px 3px;
}

.scanlines::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  mix-blend-mode: overlay;
  background: red;
  filter: saturate(0);
  opacity: 1;
  pointer-events: none;
}

.scanlines::before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: green;
  animation: flicker 4s infinite;
}

@keyframes flicker {
  0% {
    top: 0;
    bottom: 100%;
  }

  100% {
    top: 100%;
    bottom: 0;
  }
}
