<section
    class="space-y-8 px-4 py-12 text-center font-title text-gray-100 antialiased sm:space-y-2"
    title="WebRings! Admit it, you miss them too..."
>
    <h3 class="text-3xl">WEIRD WIDE WEB!</h3>
    <div class="flex flex-col items-center justify-center gap-4 text-lg sm:flex-row">
        <a href="https://weirdwidewebring.net/prev.html" class="block hover:text-red-500">
            Previous Weirdo
        </a>
        <span class="hidden sm:inline">~</span>
        <a href="https://weirdwidewebring.net/random.html" class="block hover:text-red-500">
            Random Weirdo
        </a>
        <span class="hidden sm:inline">~</span>
        <a href="https://weirdwidewebring.net/next.html" class="block hover:text-red-500">
            Next Weirdo
        </a>
    </div>
    <div class="flex flex-col items-center justify-center gap-4 sm:flex-row">
        <a href="https://weirdwidewebring.net" class="inline-block hover:text-red-500">
            All the Weirdos
        </a>
        <span class="hidden sm:inline">~</span>
        <a href="https://weirdwidewebring.net/join.html" class="inline-block hover:text-red-500">
            Get Weird
        </a>
    </div>
</section>
