@font-face {
	font-family: 'VTCFellbaumGrotesk-Light';
	src: url('VTCFellbaumGrotesk-Light.eot?#iefix') format('embedded-opentype'),
		url('VTCFellbaumGrotesk-Light.otf') format('opentype'), url('VTCFellbaumGrotesk-Light.woff') format('woff'),
		url('VTCFellbaumGrotesk-Light.ttf') format('truetype'),
		url('VTCFellbaumGrotesk-Light.svg#VTCFellbaumGrotesk-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
