
@font-face {
  font-family: 'VTCFellbaumGroteskItalic-Bold';
  src: url('VTCFellbaumGroteskItalic-Bold.eot?#iefix') format('embedded-opentype'),  url('VTCFellbaumGroteskItalic-Bold.otf')  format('opentype'),
	     url('VTCFellbaumGroteskItalic-Bold.woff') format('woff'), url('VTCFellbaumGroteskItalic-Bold.ttf')  format('truetype'), url('VTCFellbaumGroteskItalic-Bold.svg#VTCFellbaumGroteskItalic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
